/* RESET */

img {
    width: 100%;
}

/* GENERAL */



/* HEADER */


/* WRAPPER */


/* ASIDE */

aside {
    width: 130px;
    height: calc(100vh - 56px);
}

/* MAIN */

main {
    width: calc(100vw - 130px);
    min-height: calc(100vh - 56px);
}

.main-header {
    height: 120px;
    background-color: rgb(0, 179, 255);
}




/* FOOTER */