/* RESET */


/* GENERAL */



/* HEADER */

.body-header {
    height: 60px;
}

/* WRAPPER */


/* ASIDE */

aside {
    width: 130px;
    height: calc(100vh - 60px);
}

/* MAIN */

main {
    width: calc(100vw - 130px);
}

.main-header {
    height: 120px;
    background-color: rgb(0, 179, 255);
}




/* FOOTER */