/* RESET */

img {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* GENERAL */

.a-white {
    color: white;
    display: block;
}

.a-black {
    color: black;
}

.a-grey {
    color: rgb(123, 123, 123);
}

.badge {
    background-color: var(--bs-link-hover-color);
}


/* HEADER */

.body-header {
    height: 70px;
}

#bell-btn {
    border: none;
    background-color: #07203500;
}

button{
    color: white;
    background-color: rgba(82, 82, 82, 0.43);
    border: none;
    border-radius: 30px;
    font-size: 10px;
    padding: 5px;
    margin-right: 10px;
}

.body-header #mobile-logo {
    max-width: 60px;
}


/* WRAPPER */

.wrapper {
    height: calc(100vh - 70px);
}

/* ASIDE */

aside {
    width: 130px;
    background-image: url(../img/img/sidebar-bg.png);
    background-color: #072035;
    text-align: center;
}

aside i {
    font-size: 30px;
    text-align: center;
}
/* MAIN */

main {
    width: calc(100vw - 130px);
}

.main-header {
    min-height: 120px;
    background-color: #1B72E8;
}

.main-body {
    flex-direction: column;
    min-height: 150vh;
}

.i-code {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: orangered;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.offcanvas.offcanvas-end {
    width: 100%;
}

/* HOVER */

aside a:hover , .a-black:hover {
    background-color: rgba(191, 191, 191, 0.655);
    transition: 0.3s;
}

table button:hover, #boolean-col button:hover{
    transform: scale(1.1);
    transition: 0.5s ;
}

/* MEDIA QUERY */

@media screen and (min-width:768px) {

    .offcanvas.offcanvas-end {
        width: 50%;
    }

    aside {
        width: 130px;
        background-image: url(../img/img/sidebar-bg.png);
        background-color: #072035;
        text-align: start;
    }

    aside i {
        width: 30%;
        font-size: 20px;
    }
}



@media screen and (min-width:992px) {
    .main-body {
        flex-direction: row;
    }

    .main-body-left {
        width: 65%;
    }

    .main-body-right {
        width: 35%;
    }
}