/* RESET */

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* GENERAL */

.a-white {
    color: white;
}

.a-black {
    color: black;
}

.a-grey {
    color: rgb(123, 123, 123);
}

/* HEADER */

.body-header {
    height: 70px;
}

#bell-btn {
    border: none;
    background-color: #07203500;
}

button{
    color: white;
    background-color: rgba(82, 82, 82, 0.43);
    border: none;
    border-radius: 30px;
    font-size: 10px;
    padding: 5px 10px;
    margin-right: 10px;
}

/* WRAPPER */

.wrapper {
    height: calc(100vh - 70px);
}

/* ASIDE */

aside {
    width: 130px;
    background-image: url(../img/img/sidebar-bg.png);
    background-color: #072035;
}

aside i {
    width: 30%;
    padding: 5px;
}

/* MAIN */

main {
    width: calc(100vw - 130px);
}

.main-header {
    min-height: 120px;
    background-color: #1B72E8;
}

.main-body {
    flex-direction: column;
    min-height: 150vh;
}

.main-body-left {
    width: 100%;
}

.main-body-right {
    width: 100%;
}

.i-code {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: orangered;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
/* FOOTER */



/* HOVER */

.a-white:hover, .a-black:hover, .a-grey:hover, #bell-btn:hover {
    background-color: rgba(191, 191, 191, 0.655);
}

#add-student i:hover {
    background-color: white;
    color: black;
    transition: 0.3s;
}


/* MEDIA QUERY */

@media screen and (min-width:768px) {
    .main-body {
        flex-direction: row;
    }

    .main-body-left {
        width: 65%;
    }

    .main-body-right {
        width: 35%;
    }
}